ul {
    background-color: dodgerblue;
    padding: 20px;
    display: flex;
}

li {
    list-style: none;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: coral;
}

/* Flex shrink */
/* Default value is 1 , and the value must be a number.

flex-shrink property specifies how much a flex item will shrink relative to the rest of the flex items.
*/

li:nth-child(3)
{
    flex-shrink:0;
}

li:nth-child(4)
{
    flex-shrink:0;
}