ul {
    background-color: dodgerblue;
    padding: 20px;
    display: flex;
}

li {
    list-style: none;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: coral;
}

/* Flex basis */

/* flex-basis property specifies the initial length of a flex item */

li:nth-child(2)
{
    flex-basis:10rem;
}

li:nth-child(4)
{
    flex-basis:15rem;
}
