ul {
    background-color: dodgerblue;
    padding: 20px;
    display: flex;
    /* Flex flow */
    /* flex-flow property is a shorthand for setting both the flex-direction and flex wrap properties*/

    /*Row(Direction) Wrap */
    /*flex-flow:row wrap;*/

    /* Row-reverse wrap*/
   /* flex-flow:row-reverse wrap; */

   /* Column wrap*/
   /*flex-flow:column wrap;*/

   /*flex-flow:column-reverse wrap;*/

   flex-flow:row nowrap;
   flex-flow:row-reverse nowrap;
   flex-flow:column nowrap;
   flex-flow:column-reverse nowrap;

}

li {
    list-style: none;
    color: white;
    padding: 10px;
    margin: 20px;
    background-color: fuchsia;
    width: 100px;
    font-size: 20px;
    text-align: center;
}